.midnightblue{
	color:#191970;
}

.limegreen{
	color:#32CD32;
}

.honeydew{
	color:#F0FFF0;
}

.whitesmoke{
	color:#F5F5F5;
}

.lightgoldenrodyellow{
	color:#FAFAD2;
}

.slategray{
	color:#708090;
}
.cornsilk{
	color:#FFF8DC;
}
.maroon{
	color:#800000;
}
.teal{
	color:#008080;
}

.darkslategrey{
	color:#2F4F4F;
}

.yellow{
	color:#FFFF00;
}

.width100{
	width:100%;
}
.ta_c{
	text-align:center;
}
.box-large {
	height: 5em;
}
.delimeter{
	height:5px;
	width:100%;
}