.midnightblue{
	background-color:#191970;
}

.limegreen{
	background-color:#32CD32;
}

.honeydew{
	background-color:#F0FFF0;
}

.whitesmoke{
	background-color:#F5F5F5;
}

.lightgoldenrodyellow{
	background-color:#FAFAD2;
}

.slategray{
	background-color:#708090;
}
.cornsilk{
	background-color:#FFF8DC;
}
.red{
	background-color:#800000;
}
.teal{
	background-color:#008080;
}

.darkslategrey{
	background-color:#2F4F4F;
}

.yellow{
	background-color:#FFFF00;
}
.gold{
	background-color:#FFD700;
}

.black{
	background-color:#000000;
}
.green{
	background-color:#98FB98;
}
.blue{
	background-color:#00BFFF;
}

.width100{
	width:100%;
}

.ta_c{
	text-align:center;
}
.box-large {
	height: 5em;
}
.delimeter{
	height:5px;
	width:100%;
}
.example_row{
	padding: 15px;
}
.wrap{
	max-width:1250px;
	margin:auto;
}