.flexbox.container-fluid,
.flexbox .container-fluid {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.flexbox .row {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.flexbox .col-xs, .flexbox .col-sm, .flexbox .col-md, .flexbox .col-lg, .flexbox .col-xs-1, .flexbox .col-sm-1, .flexbox .col-md-1, .flexbox .col-lg-1, .flexbox .col-xs-2, .flexbox .col-sm-2, .flexbox .col-md-2, .flexbox .col-lg-2, .flexbox .col-xs-3, .flexbox .col-sm-3, .flexbox .col-md-3, .flexbox .col-lg-3, .flexbox .col-xs-4, .flexbox .col-sm-4, .flexbox .col-md-4, .flexbox .col-lg-4, .flexbox .col-xs-5, .flexbox .col-sm-5, .flexbox .col-md-5, .flexbox .col-lg-5, .flexbox .col-xs-6, .flexbox .col-sm-6, .flexbox .col-md-6, .flexbox .col-lg-6, .flexbox .col-xs-7, .flexbox .col-sm-7, .flexbox .col-md-7, .flexbox .col-lg-7, .flexbox .col-xs-8, .flexbox .col-sm-8, .flexbox .col-md-8, .flexbox .col-lg-8, .flexbox .col-xs-9, .flexbox .col-sm-9, .flexbox .col-md-9, .flexbox .col-lg-9, .flexbox .col-xs-10, .flexbox .col-sm-10, .flexbox .col-md-10, .flexbox .col-lg-10, .flexbox .col-xs-11, .flexbox .col-sm-11, .flexbox .col-md-11, .flexbox .col-lg-11, .flexbox .col-xs-12, .flexbox .col-sm-12, .flexbox .col-md-12, .flexbox .col-lg-12, .flexbox .col-xs-offset-1, .flexbox .col-xs-offset-2, .flexbox .col-xs-offset-3, .flexbox .col-xs-offset-4, .flexbox .col-xs-offset-5, .flexbox .col-xs-offset-6, .flexbox .col-xs-offset-7, .flexbox .col-xs-offset-8, .flexbox .col-xs-offset-9, .flexbox .col-xs-offset-10, .flexbox .col-xs-offset-11, .flexbox .col-xs-offset-12, .flexbox .col-sm-offset-1, .flexbox .col-sm-offset-2, .flexbox .col-sm-offset-3, .flexbox .col-sm-offset-4, .flexbox .col-sm-offset-5, .flexbox .col-sm-offset-6, .flexbox .col-sm-offset-7, .flexbox .col-sm-offset-8, .flexbox .col-sm-offset-9, .flexbox .col-sm-offset-10, .flexbox .col-sm-offset-11, .flexbox .col-sm-offset-12, .flexbox .col-md-offset-1, .flexbox .col-md-offset-2, .flexbox .col-md-offset-3, .flexbox .col-md-offset-4, .flexbox .col-md-offset-5, .flexbox .col-md-offset-6, .flexbox .col-md-offset-7, .flexbox .col-md-offset-8, .flexbox .col-md-offset-9, .flexbox .col-md-offset-10, .flexbox .col-md-offset-11, .flexbox .col-md-offset-12, .flexbox .col-lg-offset-1, .flexbox .col-lg-offset-2, .flexbox .col-lg-offset-3, .flexbox .col-lg-offset-4, .flexbox .col-lg-offset-5, .flexbox .col-lg-offset-6, .flexbox .col-lg-offset-7, .flexbox .col-lg-offset-8, .flexbox .col-lg-offset-9, .flexbox .col-lg-offset-10, .flexbox .col-lg-offset-11, .flexbox .col-lg-offset-12 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.flexbox .col-xs {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  max-width: 100%;
}
.flexbox .col-xs-1 {
  -webkit-flex-basis: 8.33333%;
      -ms-flex-preferred-size: 8.33333%;
          flex-basis: 8.33333%;
  max-width: 8.33333%;
}
.flexbox .col-xs-2 {
  -webkit-flex-basis: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%;
  max-width: 16.66667%;
}
.flexbox .col-xs-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
}
.flexbox .col-xs-4 {
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
  max-width: 33.33333%;
}
.flexbox .col-xs-5 {
  -webkit-flex-basis: 41.66667%;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%;
  max-width: 41.66667%;
}
.flexbox .col-xs-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}
.flexbox .col-xs-7 {
  -webkit-flex-basis: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%;
  max-width: 58.33333%;
}
.flexbox .col-xs-8 {
  -webkit-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%;
  max-width: 66.66667%;
}
.flexbox .col-xs-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
}
.flexbox .col-xs-10 {
  -webkit-flex-basis: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%;
  max-width: 83.33333%;
}
.flexbox .col-xs-11 {
  -webkit-flex-basis: 91.66667%;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%;
  max-width: 91.66667%;
}
.flexbox .col-xs-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .flexbox .col-sm-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .flexbox .col-sm-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .flexbox .col-sm-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .flexbox .col-sm-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .flexbox .col-sm-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .flexbox .col-sm-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .flexbox .col-sm-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .flexbox .col-sm-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .flexbox .col-sm-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .flexbox .col-sm-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .flexbox .col-sm-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .flexbox .col-sm-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .flexbox .col-md-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .flexbox .col-md-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .flexbox .col-md-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .flexbox .col-md-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .flexbox .col-md-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .flexbox .col-md-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .flexbox .col-md-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .flexbox .col-md-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .flexbox .col-md-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .flexbox .col-md-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .flexbox .col-md-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .flexbox .col-md-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .flexbox .col-lg-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .flexbox .col-lg-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .flexbox .col-lg-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .flexbox .col-lg-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .flexbox .col-lg-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .flexbox .col-lg-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .flexbox .col-lg-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .flexbox .col-lg-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .flexbox .col-lg-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .flexbox .col-lg-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .flexbox .col-lg-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .flexbox .col-lg-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}
.flexbox .col-xs-offset-1 {
  margin-left: 8.33333%;
}
.flexbox .col-xs-offset-2 {
  margin-left: 16.66667%;
}
.flexbox .col-xs-offset-3 {
  margin-left: 25%;
}
.flexbox .col-xs-offset-4 {
  margin-left: 33.33333%;
}
.flexbox .col-xs-offset-5 {
  margin-left: 41.66667%;
}
.flexbox .col-xs-offset-6 {
  margin-left: 50%;
}
.flexbox .col-xs-offset-7 {
  margin-left: 58.33333%;
}
.flexbox .col-xs-offset-8 {
  margin-left: 66.66667%;
}
.flexbox .col-xs-offset-9 {
  margin-left: 75%;
}
.flexbox .col-xs-offset-10 {
  margin-left: 83.33333%;
}
.flexbox .col-xs-offset-11 {
  margin-left: 91.66667%;
}
.flexbox .col-xs-offset-12 {
  margin-left: 100%;
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-3 {
    margin-left: 25%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-6 {
    margin-left: 50%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-9 {
    margin-left: 75%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 48em) {
  .flexbox .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-1 {
    margin-left: 8.33333%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-2 {
    margin-left: 16.66667%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-3 {
    margin-left: 25%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-4 {
    margin-left: 33.33333%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-5 {
    margin-left: 41.66667%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-6 {
    margin-left: 50%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-7 {
    margin-left: 58.33333%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-8 {
    margin-left: 66.66667%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-9 {
    margin-left: 75%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-10 {
    margin-left: 83.33333%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-11 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-3 {
    margin-left: 25%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-6 {
    margin-left: 50%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-9 {
    margin-left: 75%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .col-lg-offset-12 {
    margin-left: 100%;
  }
}
.flexbox .start-xs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (min-width: 48em) {
  .flexbox .start-sm {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .start-md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .start-lg {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.flexbox .center-xs {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 48em) {
  .flexbox .center-sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .center-md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .center-lg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.flexbox .end-xs {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 48em) {
  .flexbox .end-sm {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .end-md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .end-lg {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.flexbox .top-xs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (min-width: 48em) {
  .flexbox .top-sm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .top-md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .top-lg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.flexbox .middle-xs {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 48em) {
  .flexbox .middle-sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .middle-md {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .middle-lg {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.flexbox .bottom-xs {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (min-width: 48em) {
  .flexbox .bottom-sm {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .bottom-md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .bottom-lg {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.flexbox .around-xs {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
@media screen and (min-width: 48em) {
  .flexbox .around-sm {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .around-md {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .around-lg {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.flexbox .between-xs {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 48em) {
  .flexbox .between-sm {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .between-md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .between-lg {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.flexbox .first-xs {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
     -moz-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media screen and (min-width: 48em) {
  .flexbox .first-sm {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
       -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .first-md {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
       -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .first-lg {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
       -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.flexbox .last-xs {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media screen and (min-width: 48em) {
  .flexbox .last-sm {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .last-md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .last-lg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.flexbox .reverse-xs {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (min-width: 48em) {
  .flexbox .reverse-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (min-width: 62em) {
  .flexbox .reverse-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (min-width: 75em) {
  .flexbox .reverse-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
